.deckList {}

    .deckList .deckList-operations {
        opacity: 0;
    }
    .deckList tr:hover .deckList-operations {
        opacity: 1;
    }

    .deckList thead th {
        vertical-align: top;
    }