<!-- card list -- >
<div class="row-fluid">
  <label class="span6">
    <%= locale.question %><br/>
    <input type="text" value="<%= card.q %>" class="js-question span12" name="cardq" lang="<%= lang.native %>" spellcheck="true" <%= disabled %>/>
  </label>
  <label class="span6">
    <%= locale.answer %><br/>
    <input type="text" value="<%= card.a %>" class="js-answer span12" name="carda" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>
<div class="row-fluid">
  <label class="span12">
    <%= locale.example %><br/>
    <input type="text" value="<%= card.eg %>" class="js-example span12" name="cardeg" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>

<!-- add card -->
<p class="help-block"><%= locale.addCard %></p>
<div class="row-fluid">
  <label class="span6">
    <%= locale.question %><br/>
    <input type="text" value="" class="js-question span12" name="cardq" lang="<%= lang.native %>" spellcheck="true" <%= disabled %>/>
  </label>
  <label class="span6">
    <%= locale.answer %><br/>
    <input type="text" value="" class="js-answer span12" name="carda" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>
<div class="row-fluid"><span></span>
  <label class="span12">
    <%= locale.example %><br/>
    <input type="text" value="" class="js-example span12" name="cardeg" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>

<!-- quick add -->
<p class="help-block"><%= locale.addCard %></p>
<div class="row-fluid">
  <label class="span6">
    <%= locale.question %><br/>
    <input type="text" value="" class="js-question span12" name="cardq" lang="<%= lang.native %>" spellcheck="true" <%= disabled %>/>
  </label>
  <label class="span6">
    <%= locale.answer %><br/>
    <input type="text" value="" class="js-answer span12" name="carda" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>
<div class="row-fluid"><span></span>
  <label class="span12"><%= locale.example %><br/>
    <input type="text" value="" class="js-example span12" name="cardeg" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>

<!-- card template -->
<div class="row-fluid">
  <label class="span6">
    <%= locale.question %><br/>
    <input type="text" value="" class="js-question span12" name="cardq" lang="<%= lang.native %>" spellcheck="true" <%= disabled %>/>
  </label>
  <label class="span6">
    <%= locale.answer %><br/>
    <input type="text" value="" class="js-answer span12" name="carda" lang="<%= lang.learn %>" spellcheck="true"<%= disabled %>/>
  </label>
</div>
<div class="row-fluid">
  <label class="span12">
    <%= locale.example %><br/>
    <input type="text" value="" class="js-example span12" name="cardeg" lang="<%= lang.learn %>" spellcheck="true" <%= disabled %>/>
  </label>
</div>