<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OmniCard</title>

  <script src="js/requireConfig.js"></script>
  <script>
    var hasPort = !!window.location.port,
        isFile = location.protocol.indexOf('file') != -1;
    if (hasPort || isFile) {
      document.write('<link rel="stylesheet" href="app.css"/>');
    } else {
      document.write('<link rel="stylesheet" href="app-min.css"/>');
      require.paths['app'] = '../app-min';
    }
  </script>

  <script src="js/require.js" data-main="app"></script>
</head>

<body>
<!--[if lt IE 8]>
  <div class="alert alert-error">
    <h4>OmniCard can't  work in this browser / OmniCard не может работать в этом браузере</h4>
    <a href="http://abetterbrowser.org.">Upgrade your browser / Установите более новый</a>
    <style>.root { display: none; }</style>
  </div>
<![endif]-->


  <div class="container-fluid js-root root"></div>


  <script class="js-tpl-root" type="text/x-template">
    <div class="row-fluid js-pristine root-pristine root-hero"></div>

    <div class="row-fluid root-work">
      <h3 class="muted span6 offset3 hidden-phone">OmniCard</h3>
    </div>

    <div class="row-fluid root-work">

      <div class="span3">
        <div class="well sidebar-nav js-nav deckNav"></div>
      </div>

      <div class="span9">

        <div class="js-start"></div>

        <div class="js-deckList"></div>

        <div class="js-deck deckView"></div>

        <div class="js-edit"></div>

        <div class="js-settings"></div>

        <div class="js-dump"></div>
      </div>
    </div>

    <hr class="hidden-phone"/>

    <footer class="hidden-phone">
      <ul class="inline">
        <li>© OmniCard, 2013</li>
        <li><a href="http://github.com/hogart/OmniCard">GitHub</a></li>
        <li><a href="https://github.com/hogart/OmniCard/blob/master/LICENSE.md"><%= locale.license %></a></li>
      </ul>
      <p></p>
    </footer>
  </script>

  <script class="js-tpl-nav" type="text/x-template">
    <ul class="nav nav-list">
      <li class="nav-header deckNav-item js-decksItem"><h6><i class="icon-book"></i> <%= locale.decksHeader %></h6></li>

      <% _.each(decks, function(deck, index) { if (!(deck.id in hiddenDecks)) {  %>
        <li class="deckNav-item deckNav-item__deck js-deckItem" data-id="<%= index %>"><%= deck.name %></li>
      <% }}); %>

      <li class="deckNav-item js-addDeck"><i class="icon-plus"></i> <%= locale.newDeck %></li>
      <li><hr/></li>

      <li class="nav-header deckNav-item js-settingsItem"><h6><i class="icon-cog"></i> <%= locale.settings %>…</h6></li>
    </ul>
  </script>

  <script class="js-tpl-pristine" type="text/x-template">
    <div class="hero-unit root-well">
      <h2 class="muted"><%= locale.welcomeHeader %></h2>
      <p><%= locale.welcomeFirst %></p>
      <p><%= locale.welcomeSecond %></p>
      <p><%= locale.welcomeChoose %></p>

      <form>
        <label class="span4">
          <%= locale.welcomeSpeak %><br/>
          <select name="native">
            <option value="ru">Русский</option>
          </select>
        </label>
        <label class="span4">
          <%= locale.welcomeLearn %><br/>
          <select name="learn">
            <option value="pl">Polszczyzna</option>
          </select>
        </label>
        <label class="span4">
          <%= locale.welcomeInterface %><br/>
          <div class="js-changeLang"></div>
        </label>

        <div>
          <button class="btn btn-primary btn-large"><%= locale.welcomeStart %></button>
        </div>
      </form>
    </div>
  </script>

  <script class="js-tpl-start" type="text/x-template">
      <h4 class="muted"><%= locale.helpHeader %></h4>
      <div class="js-content <% if (!verbosity) { print('hidden') }%>">
        <p><%= locale.helpFirst %></p>
          <dl>
            <dt><%= locale.meditation %></dt>
            <dd><%= locale.meditationExplanation %></dd>
            <dt><%= locale.test %></dt>
            <dd><%= locale.testExplanation %></dd>
            <dt><%= locale.exam %></dt>
            <dd><%= locale.examExplanation %></dd>
          </dl>
          <p><%= locale.helpAlso %></p>
          <h4 class="muted"><%= locale.faq %></h4>
          <dl>
            <dt><%= locale.faqDeckQ %></dt>
            <dd><%= locale.faqDeckA %></dd>

            <dt><%= locale.faqEditQ %></dt>
            <dd><%= locale.faqEditA %></dd>

            <dt><%= locale.faqCreateQ %></dt>
            <dd><%= locale.faqCreateA %></dd>

            <dt><%= locale.faqShareQ %></dt>
            <dd>
              <ol>
                <li><%= locale.faqShareA1 %></li>
                <li><%= locale.faqShareA2 %></li>
                <li><%= locale.faqShareA3 %></li>
                <li><%= locale.faqShareA4 %></li>
                <li><%= locale.faqShareA5 %></li>
                <li><%= locale.faqShareA6 %></li>
                <li><%= locale.faqShareA7 %></li>
              </ol>
              <p><%= locale.faqShareA8 %></p>
              <p><%= locale.faqShareA9 %></p>
            </dd>

            <dt><%= locale.faqManagementQ %></dt>
            <dd><%= locale.faqManagementA %></dd>

            <dt><%= locale.faqFeedbackQ %></dt>
            <dd><%= locale.faqFeedbackA %></dd>
          </dl>
      </div>
      <button class="btn btn-primary js-hide <% if (!verbosity) { print('hidden') }%>"><%= locale.helpHide %></button>
      <button class="btn btn-primary js-show <% if (verbosity) { print('hidden') }%>"><%= locale.helpShow %></button>
  </script>

  <script class="js-tpl-deckList" type="text/x-template">
    <h4 class="muted"><%= locale.bulkTitle %></h4>
    <table class="table deckList">
      <thead>
        <tr>
          <th>
            <label class="checkbox"><input type="checkbox" class="js-selectAll" title="<%= locale.bulkSelectAll %>"/></label>
          </th>
          <th>
            <%= locale.bulkName %>
          </th>
          <th>
            <%= locale.bulkDescription %>
          </th>
          <th>
            <div class="btn-group">
              <button class="btn js-show" title="<%= locale.bulkShow %>" disabled="disabled"><i class="icon-eye-open"></i></button>
              <button class="btn js-hide" title="<%= locale.bulkHide %>" disabled="disabled"><i class="icon-eye-close"></i></button>
              <button class="btn js-export" title="<%= locale.bulkExport %>" disabled="disabled"><i class="icon-hdd"></i></button>
            </div>
          </th>
        </tr>
        <tr class="deckList-dumpWrapper js-dumpWrapper">
          <td colspan="4">
            <textarea class="deckList-dump"></textarea>
            <button class="btn btn-primary js-done"><%= locale.done %></button>
          </td>
        </tr>
      </thead>
      <tbody>
        <% _.each(decks, function(deck, index) { %>
          <tr data-id="<%= index %>" <% if (deck.id in hiddenDecks) { print('class="muted"'); } %>>
            <td><label class="checkbox"><input type="checkbox"/></label></td>
            <td><%= deck.name %></td>
            <td><%= deck.description.replace(/\n/mg, '<br/>') %></td>
            <td>
              <div class="btn-group deckList-operations">
                <button class="btn js-editDeck" title="<%= locale.editDeck %>"><i class="icon-pencil"></i></button>
                <% if (deck.builtIn) { %>
                  <% if (deck.id in hiddenDecks) { %>
                    <button class="btn js-unhideDeck" title="<%= locale.unhideDeck %>"><i class="icon-eye-open"></i></button>
                  <% } else { %>
                    <button class="btn js-hideDeck" title="<%= locale.hideDeck %>"><i class="icon-eye-close"></i></button>
                  <% } %>
                <% } else { %>
                  <button class="btn js-hideDeck" title="<%= locale.deleteDeck %>"><i class="icon-trash"></i></button>
                <% } %>
              </div>
            </td>
            <td></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script class="js-tpl-deck" type="text/x-template">
    <div class="well deckView-header">
      <div class="btn-group pull-right">
        <button class="btn js-editDeck" title="<%= locale.editDeck %>"><i class="icon-pencil"></i></button>
        <% if (deck.builtIn) { %>
          <button class="btn js-hideDeck" title="<%= locale.hideDeck %>"><i class="icon-eye-close"></i></button>
        <% } else { %>
          <button class="btn js-deleteDeck" title="<%= locale.deleteDeck %>"><i class="icon-trash"></i></button>
        <% } %>
      </div>
      <h4 class="muted"><%= deck.name %> (<%= deck.content.length %>)</h4>
      <% if (deck.description) { %><p><%= deck.description.replace(/\n/mg, '<br/>') %></p><% } %>
      <% if (deck.tags && deck.tags.length) { %><p class="text-right muted"><small><%= deck.tags.join(', ') %></small></p><% } %>
      <label class="checkbox">
        <input type="checkbox" name="showCorrections" <% if (showCorrections) { print('checked="checked"') } %>/> <%= locale.showCorrections %>
      </label>
      <div class="btn-group">
        <button class="btn js-startMeditation"><%= locale.meditation %></button>
        <% if (testable) { %><button class="btn js-startTest"><%= locale.test %></button><% } %>
        <button class="btn js-startExam"><%= locale.exam %></button>
      </div>
    </div>

    <div class="row-fluid deckView-questions">
      <div class="js-test"></div>
    </div>

    <div class="row-fluid deckView-score">
      <div class="js-score"></div>
      <div class="btn-group">
        <button class="btn js-startMeditation"><%= locale.meditation %></button>
        <% if (testable) { %><button class="btn js-startTest"><%= locale.test %></button><% } %>
        <button class="btn js-startExam"><%= locale.exam %></button>
      </div>
    </div>
  </script>

  <script class="js-tpl-testExam" type="text/x-template">
    <h4 class="muted"><%= name %></h4>
    <div class="progress progress-striped active">
      <div class="bar js-progress" style="width: 1%;"></div>
    </div>
    <ul class="unstyled">
      <% _.each(cards, function(card, index) { %>
        <li class="js-card form-inline<% if (index) { %> hidden<% } %>">
          <label><h3><%= card.q %></h3>
            <div class="input-append">
              <input class="input-large" type="text"/>
              <div class="btn-group js-answerBlock">
                <button class="btn btn-success js-answer"><%= locale.answer %></button>
                <button class="btn btn-warning js-skip"><%= locale.skip %></button>
              </div>
            </div>
          </label>
          <div class="js-correction text-error hidden"></div>
          <button class="btn js-next hidden"><%= locale.next %></button>
        </li>
      <% }); %>
    </ul>
  </script>

  <script class="js-tpl-testTest" type="text/x-template">
    <h4 class="muted"><%= name %></h4>
    <div class="progress progress-striped active">
      <div class="bar js-progress" style="width: 1%;"></div>
    </div>
    <ul class="unstyled">
      <% _.each(cards, function(card, index) { %>
        <li class="js-card form-inline<% if (index) { %> hidden<% } %>">
          <h3><%= card.q %></h3>
          <% _.each(card.a, function (answer) { %>
            <label class="radio">
              <input type="radio" name="testTest" value="<%= answer %>"/>
              <%= answer %>
            </label><br/>
          <% }); %>
          <br/>
          <div class="js-correction text-error hidden"></div>
          <button class="btn js-next hidden"><%= locale.next %></button>
          <div class="btn-group js-answerBlock">
            <button class="btn btn-success js-answer"><%= locale.answer %></button>
            <button class="btn btn-warning js-skip"><%= locale.skip %></button>
          </div>
        </li>
      <% }); %>
    </ul>
  </script>

  <script class="js-tpl-testMeditation" type="text/x-template">
    <h4 class="muted"><%= name %></h4>
    <div class="progress progress-striped active">
      <div class="bar js-progress" style="width: 0%;"></div>
    </div>
    <ul class="unstyled">
      <% _.each(cards, function(card, index) { %>
        <li class="js-card form-inline<% if (index) { %> hidden<% } %>">
          <h3><%= card.a %></h3>
          <h3><%= card.q %></h3>
          <button class="btn btn-warning js-next"><%= locale.next %></button>
        </li>
      <% }); %>
    </ul>
  </script>

  <script class="js-tpl-score" type="text/x-template">
    <% if (congrats) { %>
      <p class="text-info"><%= locale.learnedNew %></p>
    <% } else { %>
      <% if (wrong) { %><p class="text-error"><%= locale.wrongs %> <span class="badge badge-warning"><%= wrong %></span></p><% } %>
      <% if (correct) { %><p class="text-success"><%= locale.corrects %> <span class="badge badge-success"><%= correct %></span></p><% } %>
      <% if (corrections) { %>
        <dl class="dl-horizontal">
        <% _.each(corrections, function (correction) { %>
          <dt><%= correction.q %></dt>
          <dd>
            <span class="text-success"><%= correction.a %></span>
            <del class="text-error"><%= correction.w %></del>
          </dd>
        <% }); %>
        </dl>
      <% } %>
      <% if (!wrong) { %>
        <p class="text-success"><%= locale.congrats %></p>
      <% } else if (!correct) { %>
        <p class="text-error"><%= locale.doNotDespair %></p>
      <% } else { %>
        <% if (wrong > correct) { %>
          <p class="text-warning"><%= locale.moreWork %></p>
        <% } else { %>
          <p class="text-info"><%= locale.notBad %></p>
        <% } %>
      <% } %>
    <% } %>
  </script>

  <script class="js-tpl-editDeck" type="text/x-template">
    <form class="form">
      <h4 class="muted"><% if (!deck.isNew) { %><%= locale.editDeck %> <%= locale.q.open %><%= deck.name %><%= locale.q.close %><% } else { print(locale.createDeck) } %></h4>

      <div class="form-actions js-dump js-dumpDeck">
        <% if (deck.isNew) { %>
          <button class="btn js-import" type="button"><i class="icon icon-download"></i> <%= locale.importDeck %></button>
        <% } else { %>
          <button class="btn js-export" type="button"><i class="icon icon-upload"></i> <%= locale.exportDeck %></button>
        <% } %>

        <div class="hidden js-dumpster">
          <br/>
          <br/>
          <textarea class="span7" rows="5" placeholder="<%= locale.pasteDeck %>"><% if (!deck.isNew) { print(JSON.stringify(deck)); } %></textarea>
          <span class="help-block"><%= locale.shareDeckHelp %></span>
          <button class="btn btn-primary js-done" type="button"><%= locale.done %></button>
        </div>
      </div>

      <fieldset>
        <legend><%= locale.deckProperties %></legend>

        <% if (deck.builtIn) { %>
          <label><%= locale.deckName %><br/>
            <input type="text" value="<%= deck.name %>" class="span7" disabled="disabled"/>
          </label>

          <label><%= locale.deckDescr %><br/>
            <textarea class="span7" rows="3" disabled="disabled"><%= deck.description %></textarea>
          </label>

          <label><%= locale.deckTags %><br/>
            <input type="text" class="span7" value="<%= deck.tags.join(', ') %>" disabled="disabled"/>
            <span class="help-block"><%= locale.deckTagsHelp %></span>
          </label>

          <label class="checkbox">
            <input type="checkbox" disabled="disabled" name="testable" <% if (deck.testable) { print('checked="checked"'); } %>/> <%= locale.deckTestable %>
            <span class="help-block"><%= locale.deckTestableHelp %></span>
          </label>
        <% } else { %>
          <label><%= locale.deckName %><br/>
            <input type="text" placeholder="<%= locale.deckNamePlaceholder %>" name="name" required="required" value="<%= deck.name %>" class="span7"/>
          </label>

          <label><%= locale.deckDescr %><br/>
            <textarea name="description" placeholder="<%= locale.deckDescrPlaceholder %>" class="span7" rows="3"><%= deck.description %></textarea>
          </label>

          <label><%= locale.deckTags %><br/>
            <input type="text" name="tags" placeholder="<%= locale.deckTagsPlaceholder %>" class="span7" value="<%= deck.tags.join(', ') %>"/>
            <span class="help-block"><%= locale.deckTagsHelp %></span>
          </label>

          <label class="checkbox">
            <input type="checkbox" name="testable" <% if (deck.testable) { print('checked="checked"'); } %>/> <%= locale.deckTestable %>
            <span class="help-block"><%= locale.deckTestableHelp %></span>
          </label>
        <% } %>
      </fieldset>

      <fieldset>
        <legend><%= locale.deckCards %> <% if (deck.content.length) { print('(' + deck.content.length + ')') } %></legend>

          <div class="form-actions js-dump js-dumpCards">
            <% if (deck.isNew) { %>
              <button class="btn js-import" type="button"><i class="icon icon-download"></i> <%= locale.deckCardsImport %></button>
            <% } else { %>
              <button class="btn js-export" type="button"><i class="icon icon-upload"></i> <%= locale.deckCardsExport %></button>
            <% } %>
            <div class="hidden js-dumpster">
              <br/>
              <br/>
              <textarea class="span7" rows="5" placeholder="<%= locale.deckCardsPaste %>"><%= cardsDump %></textarea>
              <span class="help-block"><%= locale.deckCardsHelp %></span>
              <button class="btn btn-primary js-done" type="button"><%= locale.done %></button>
            </div>
          </div>

          <div class="js-cardList">
            <% _.each(deck.content, function (card, index) { %>
              <div class="js-cardForm">
                <label><%= locale.question %><br/>
                  <% if (deck.builtIn) { %>
                    <input type="text" value="<%= card.q %>" class="js-question span7" name="cardq" disabled="disabled"/>
                  <% } else { %>
                    <input type="text" value="<%= card.q %>" class="js-question span7" name="cardq"/>
                  <% } %>
                </label>
                <label><%= locale.answer %><br/>
                  <% if (deck.builtIn) { %>
                    <input type="text" value="<%= card.a %>" class="js-answer span7" name="carda" disabled="disabled"/>
                  <% } else { %>
                    <input type="text" value="<%= card.a %>" class="js-answer span7" name="carda"/>
                  <% } %>
                </label>

                <% if (!deck.builtIn) { %><button class="js-deleteCard btn btn-danger btn-small"><%= locale.deleteCard %></button><% } %>
                <hr/>
              </div>
            <% }) %>
          </div>

        <% if (!deck.builtIn) { %>
          <div class="js-addCard">
            <span class="help-block"><%= locale.addCard %></span>
            <label><%= locale.question %><br/>
              <input type="text" value="" class="js-question span7"/>
            </label>
            <label><%= locale.answer %><br/>
              <input type="text" value="" class="js-answer span7"/>
            </label>

            <button class="js-confirm btn btn-success btn-small" type="button"><%= locale.addCard %></button>
          </div>

          <div class="js-cardTemplate hidden">
            <div class="js-cardForm">
              <label><%= locale.question %><br/>
                <input type="text" class="js-question span7" name="cardq"/>
              </label>
              <label><%= locale.answer %><br/>
                <input type="text" class="js-answer span7" name="carda"/>
              </label>

              <button class="js-deleteCard btn btn-danger btn-small"><%= locale.deleteCard %></button>
              <hr/>
            </div>
          </div>
        <% } %>
      </fieldset>

      <br/>

      <% if (!deck.builtIn) { %>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit"><%= locale.deckSave %></button>
          <button class="btn" type="reset"><%= locale.cancel %></button>
        </div>
      <% } %>
    </form>
  </script>

  <script class="js-tpl-settings" type="text/x-template">
    <h4 class="muted"><%= locale.settings %></h4>
    <p>
      <button class="btn btn-primary js-dump"><i class="icon-hdd icon-white"></i> <%= locale.importExport %></button><br/>
      <%= locale.importExportHelp %>
    </p>

    <p>
      <button class="btn btn-danger js-reset"><i class="icon-fire icon-white"></i> <%= locale.clearAll %></button><br/>
      <%= locale.clearAllHelp %>
    </p>

    <hr/>

    <p>
      <%= locale.welcomeInterface %>
      <div class="js-langSelect"></div>
      <button class="btn js-changeLang"><%= locale.changeLang %></button>
    </p>
  </script>

  <script class="js-tpl-langSelect" type="text/x-template">
    <select name="interface">
      <% _.each(langs, function (name, code) {  %>
      <option value="<%= code %>" <% if (code == lang) { print('selected="selected"') } %>><%= name %></option>
      <% }); %>
    </select>
  </script>

  <script class="js-tpl-dump" type="text/x-template">
    <form class="form">
      <h4 class="muted"><%= locale.importExport %></h4>
      <label>
        <textarea class="span7" rows="5"></textarea>
      </label>
      <span class="help-block">
        <%= locale.dumpHelp %><br/>
      </span>
      <label class="checkbox">
        <input type="checkbox" class="js-beauty"/> <%= locale.dumpFormatting %>
      </label>

      <div class="form-actions">
        <button class="btn btn-primary" type="submit"><%= locale.save %></button>
        <button class="btn js-reset" type="button"><%= locale.cancel %></button>
      </div>
    </form>
  </script>
</body>
</html>